//COLORS
$black: #000;
$red: #960000;
$brown: #2e0404;

//FONTS
@import url('../fonts/NewRocker-Regular.ttf');
@import url('../fonts/Caveat-Regular.ttf');

html, body
{
    margin: 0;
    padding: 0;
    background-color: $black;
}

.scene
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.description
{
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 20px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(90deg, $black 0%, $red 50%, $black 100%);
    font-family: 'New Rocker', serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: $red;
}

.info
{
    width: 200px;
    height: 35px;
    background-color: $black;
    top: 100px;
    left: -202px;
    z-index: 999;
    transition: 1s;
    position: relative;
    border: 1px solid $red;
    font-family: 'New Rocker', serif;
    font-size: 20px;
    text-align: center;
    color: $red;
    padding-top: 10px;
}

.view
{
    left: 0;
    transition: 1s;
}

.desk
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    background-image: url('../img/table.jpg');
    position: relative;
    z-index: 2;
}

.drawer
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
    border: 1px solid $black;
    overflow: hidden;
    background-image: url('../img/table-drawer.jpg');
    position: relative;
    top: -60px;
    z-index: 1;
    cursor: pointer;
    transition: box-shadow 0.5s, transform 1s;
    padding: 10px;
}

.drawer:hover
{
    box-shadow: 0 0 10px $red;
}

.drawer-handle
{
    width: 50px;
    height: 10px;
    border: 5px solid transparent;
    background-image: url('../img/table.jpg');
    position: absolute;
    top: 60px;
    left: 225px;
    z-index: 2;
}

.open
{
    transform: translateY(60px);
}

.item-note
{
    width: 50px;
    height: 50px;
    background-image: url('../img/note.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-family: 'Caveat', serif;
    cursor: pointer;
}

.note-view
{
    width: 300px;
    height: 300px;
    background-image: url('../img/note.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.note-view__button
{
    font-family: 'Caveat', serif;
    font-size: 20px;
    text-align: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 20px;
    display: block;
    width: 60px;
    height: 20px;
    margin: 0;
    padding: 0;
}

#note-content
{
    font-family: 'Caveat', serif;
    font-size: 20px;
    padding: 20px;
    max-width: 400px;
}

.hidden
{
    display: none;
}

.inventory-button
{
    width: 50px;
    height: 50px;
    border: 1px solid $red;
    position: absolute;
    left: 90%;
    top: 10%;
    clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    cursor: pointer;
    transition: 0.5s;
}

.inventory-button:hover
{
    clip-path: polygon(0px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 0px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
}

.inventory-button img
{
    width: 40px;
    position: relative;
    left: 5px;
    top: 5px;
}

.inventory
{
    width: 250px;
    height: 500px;
    position: absolute;
    left: 85%;
    top: 10%;
    border: 1px solid $red;
    clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    background-color: $black;
}

.inventory-title
{
    width: 196px;
    height: 35px;
    border: 1px solid $red;
    float: left;
    font-family: 'New Rocker', serif;
    font-size: 20px;
    color: $red;
    text-align: center;
    padding-top: 15px;
}

.inventory-x__button
{
    width: 50px;
    height: 35px;
    font-family: 'New Rocker', serif;
    font-size: 20px;
    color: $red;
    border: 1px solid $red;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    float: left;
}

.inventory-list
{
    width: 250px;
    height: 448px;
    float: left;
    color: $red;
    list-style-type: none;
}

.inventory-list li
{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 6px;
}

.inventory-list__image
{
    width: 50px;
    height: 50px;
}